<!-- TODO: Define a class with media-query for label margin -->
<div id="login-linkedin" class="btn-header transparent pull-right">
  <span> <a href="/auth/linkedin" title="{{'Login with' | i18n}} LinkedIn" >
    <i class="fa fa-linkedin-square fa-lg text-success"></i></a> </span>
</div>
<div id="login-facebook" class="btn-header transparent pull-right">
  <span> <a href="/auth/facebook" title="{{'Login with' | i18n}} Facebook">
    <i class="fa fa-facebook-square fa-lg text-primary"></i></a> </span>
</div>
<div id="login-google" class="btn-header transparent pull-right">
  <span> <a href="/auth/google" title="{{'Login with' | i18n}} Google">
    <i class="fa fa-google-plus-square fa-lg text-danger"></i></a> </span>
</div>
<div class="pull-right" style="margin-top: 15px; padding-left: 6px;">
  <span >{{'Login with' | i18n}}: </span>
</div>
